.App-logo {
    margin-left: 40%;
}

span.text-secondary{
    color: #650D14!important;
    text-decoration: none;
}

span.text-secondary:hover{
    font-weight: bold;
    text-decoration: none!important;
    text-underline-position: none;
}

a.btn.btn-link.text-secondary {
    text-decoration: none;
}

a.btn.btn-link {
    text-decoration: none;
}

h2 {
    color: #650D14;
    text-transform: uppercase;
}

.menu-img {
    width: 100vw;
    position: relative;
    text-align: center;
    color: white;
}

.title {
    position: absolute;
    bottom: 200px;
    left: 13%;
}

.h4, h4 {
    font-size: 15px;
}

button.btn.btn-primary {
    color: #fff;
    background-color: #075740;
    border-color: #075740;
    margin-left: 50%;
    margin-top: 50px;
    margin-bottom: 100px;
}

div.container {
    margin-top: 50px;
}

